/ccw.core.prefs
/com.adobe.flexide.as.core.prefs
/com.adobe.flexide.css.core.prefs
/com.adobe.flexide.mxml.core.prefs
/com.axmor.eclipse.typescript.editor.prefs
/com.collabnet.subversion.merge.prefs
/com.dell.toadext.oracle.core.prefs
/com.dell.toadext.prefs
/com.dubture.twig.ui.prefs
/com.genuitec.eclipse.codetogether.ui.prefs
/com.genuitec.eclipse.monitor.prefs
/com.genuitec.eclipse.sqlexplorer.prefs
/com.genuitec.eclipse.theming.ui.prefs
/com.github.eclipsecolortheme.prefs
/com.github.rustdt.ide.ui.prefs
/com.google.eclipse.protobuf.Protobuf.prefs
/com.googlecode.goclipse.ui.prefs
/com.palantir.typescript.prefs
/com.powerflasher.fdt.ui.prefs
/com.puppetlabs.geppetto.module.dsl.Module.prefs
/com.puppetlabs.geppetto.pp.dsl.PP.prefs
/com.spket.js.prefs
/com.spket.xml.prefs
/com.wolfram.eclipse.MEET.prefs
/de.walware.statet.base.ui.prefs
/de.walware.statet.r.ui.prefs
/eclihx.ui.prefs
/jp.gr.java_conf.ussiy.app.propedit.prefs
/jsonedit-core.prefs
/net.sf.eclipsefp.haskell.ui.prefs
/net.sourceforge.texlipse.prefs
/net.vtst.ow.eclipse.less.Less.prefs
/org.apache.ivyde.eclipse.prefs
/org.cfeclipse.cfml.prefs
/org.chromium.debug.ui.prefs
/org.cloudsmith.geppetto.pp.dsl.PP.prefs
/org.codehaus.groovy.eclipse.ui.prefs
/org.dadacoalition.yedit.prefs
/org.eclipse.ajdt.ui.prefs
/org.eclipse.angularjs.ui.prefs
/org.eclipse.ant.ui.prefs
/org.eclipse.cdt.dsf.ui.prefs
/org.eclipse.cdt.make.ui.prefs
/org.eclipse.cdt.ui.prefs
/org.eclipse.core.resources.prefs
/org.eclipse.datatools.sqltools.sqleditor.prefs
/org.eclipse.debug.ui.prefs
/org.eclipse.dltk.ruby.ui.prefs
/org.eclipse.dltk.tcl.ui.prefs
/org.eclipse.e4.CSS.prefs
/org.eclipse.e4.ui.css.swt.theme.prefs
/org.eclipse.egit.core.prefs
/org.eclipse.epp.logging.aeri.ide.prefs
/org.eclipse.jdt.ui.prefs
/org.eclipse.jst.j2ee.webservice.ui.prefs
/org.eclipse.jst.jsp.ui.prefs
/org.eclipse.m2e.discovery.prefs
/org.eclipse.mylyn.context.core.prefs
/org.eclipse.mylyn.monitor.ui.prefs
/org.eclipse.mylyn.tasks.ui.prefs
/org.eclipse.mylyn.wikitext.ui.prefs
/org.eclipse.pde.api.tools.prefs
/org.eclipse.php.ui.prefs
/org.eclipse.rse.core.prefs
/org.eclipse.rse.ui.prefs
/org.eclipse.team.cvs.ui.prefs
/org.eclipse.team.ui.prefs
/org.eclipse.ui.editors.prefs
/org.eclipse.ui.ide.prefs
/org.eclipse.ui.workbench.prefs
/org.eclipse.wst.css.ui.prefs
/org.eclipse.wst.dtd.ui.prefs
/org.eclipse.wst.html.ui.prefs
/org.eclipse.wst.jsdt.ui.prefs
/org.eclipse.wst.json.ui.prefs
/org.eclipse.wst.xml.ui.prefs
/org.eclipse.wst.xsl.ui.prefs
/org.eclipse.xtend.core.Xtend.prefs
/org.epic.perleditor.prefs
/org.erlide.ui.prefs
/org.jboss.ide.eclipse.freemarker.prefs
/org.nodeclipse.enide.editors.gradle.prefs
/org.nodeclipse.enide.editors.jade.prefs
/org.python.pydev.prefs
/org.scala-ide.play2.prefs
/org.scala-ide.sdt.core.prefs
/org.sourceforge.jsonedit-core.prefs
/org.springframework.ide.eclipse.imports.prefs
/org.springsource.ide.eclipse.commons.configurator.prefs
/org.springsource.ide.eclipse.commons.core.prefs
/org.springsource.ide.eclipse.commons.frameworks.core.prefs
/org.springsource.ide.eclipse.commons.ui.prefs
/org.springsource.ide.eclipse.dashboard.ui.prefs
/org.sweetlemonade.eclipse.json.prefs
/org.tigris.subversion.subclipse.ui.prefs
/winterwell.markdown.prefs
